body{
    background-image: radial-gradient(circle at 50% -20.71%, #9cbdfe 0, #6e94fb 12.5%, #62aeff 25%, #5490ff 37.5%, #087fff 50%, #0082fb 62.5%, #0074f8 75%, #009bf4 87.5%, #0068f1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}


form{
    width: 600px;
    border:  4px solid rgb(187, 0, 0);
    padding: 6rem;
    background-color:aliceblue; 
    border-radius: 20px;
    color:black;
}
h1{
    display: block;
    width: 95%;
    padding: 5px;
    margin: 5px;
}

    label{
        color: rgb(0, 63, 118);
        font-size: 18px;
        padding: 11px;
        font-weight: 350;
    }

input{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #F7AE00;
    padding: .5rem;
    color: white;
    border: none;
    width: 60%;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

button:hover{
    background-color: white;
    color: black;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}
a:hover{
    color: white;
}

.error{
    background-color: rgb(175, 74, 74);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}