
body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #F7AE00;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    color: white;
}
/* si */
.Logo{
    display: flex;
    align-items:center;
}

.Logo img{
    height: 70px;
    margin-right: 10px;
}




/*Estlizando barra de busqueda*/
/*--------------------------*/
.Barra-busqueda{
    position: relative;
    padding: 5px;
}
.Barra-busqueda input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #440088;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.Barra-busqueda:hover input {
  width: 240px;
}

.Barra-busqueda input:focus {
  width: 240px;
}
/*--------------------------*/


/*Barra lateral*/
/*--------------------------*/

.Logo .btn-menu{
    float: left;
    line-height:100px;

}
.Logo .btn-menu label{
    font-size: 25px;
    cursor: pointer;
}

	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
/*--------------------------*/